/*
*
*/

.topnav a.navbar-brand {
    font-size: 1.75rem;
    text-align: center;
}

body.bodyAuthentication {
    background: url(../assets/img/imaginest.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bodyAuthentication nav h1 {
    color: white;
    font-size: 2.5rem;
}

.custom-file-label::after {
    color: white;
    background-color: #0275bf;
}

p {
    text-align: justify;
}

form input.errors {
    border: solid 1px red;
}

form p.errors {
    margin-top: 1rem;
    color: red;
}

#layoutPrivacyTerms h2 {
    font-size: 0.95rem;
    text-align: justify;
}

#layoutPrivacyTerms p {
    font-size: 0.85rem;
}

#return-to-top {
    position: fixed;
    right: 22px;
    bottom: 22px;
    outline: none;
    cursor: pointer;
    z-index: 1000;
    display: none;
  }

#return-to-top svg {
    margin: 0;
    padding: 0;
    font-size: 4rem;
    color: black;
    opacity: 0.75;
}
